body {
    background-color: #3a3b3f;
    color: #ffffff;
  }
  
  h1 {
    font-size: 48px;
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.746);
    text-decoration: underline;
    text-overflow: clip;
    text-align: center;
    line-height: 59px;
  
    padding: 0 64px;
    margin: 0;
  }
  
  .stopwatch {
    display: grid;
    justify-items: center;
    grid-row-gap: 23px;
    width: 100%;
    padding-top: 25px;
  }
  
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
  
    height: 270px;
    width: 270px;
  
    border: 5px solid;
    border-radius: none;
  }
  
  .time {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 48px;
  }
  
 
  
  .controls {
    display: flex;
    justify-content: space-between;
  
    width: 187px;
  }
  
  button {
    cursor: pointer;
    background: #3a3b3f; 
    padding: 0;
    border: 1px solid #3a3b3f ;
    border-radius: 50% ;
    margin: 0;
    outline: none; 
  }
  
  #playButton {
    display: block;
  }
  
  #pauseButton {
    display: none;
  }